@model Model.EF.Book

@{
    ViewBag.Title = "Chi tiết Sách";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var detail = ViewData["BookDetail"] as Model.EF.Book;
}

@{
    Html.RenderPartial("_Bradcaum");
}

<div class="maincontent bg--white pt--80 pb--55">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-12">
                <div class="wn__single__product">
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <div class="wn__fotorama__wrapper">
                                <div class="fotorama wn__fotorama__action" data-nav="thumbs">
                                    <img src="~/images/books/10.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-12">
                            <div class="product__info__main">
                                <h1>@Model.BookName</h1>
                                <div class="price-box d-flex">
                                    @{
                                        var finalPrice = Model.Price / 100 * (100 - Model.DiscountPercent);
                                    }
                                    <span class="_price">@finalPrice.ToString().Split('.')[0] VNĐ</span>
                                    <span class="_old-price">@Model.Price.ToString().Split('.')[0] VNĐ</span>
                                </div>
                                <h6>Nhà cung cấp: @Model.Producer.ProducerName</h6>
                                <h6>Tác giả: @Model.Author.AuthorName</h6>
                                <h6>Số lượng tồn: @Model.Quantity</h6>
                                <div class="product__overview">
                                    <h6>Mô tả:</h6>
                                    <p>@Model.BookDescription</p>
                                </div>
                                <div class="box-tocart d-flex">
                                    <span>Số lượng</span>
                                    <input id="qty" class="input-text qty" name="qty" min="1" max="@Model.Quantity" value="1" title="Qty" type="number">
                                    <div class="addtocart__actions">
                                        <button id="btnAddItem" class="tocart" type="submit" title="Add to Cart">Thêm vào giỏ</button>
                                    </div>
                                    <div class="product-addto-links clearfix">
                                        <a class="wishlist" href="#"></a>
                                    </div>
                                </div>
                                <div class="product_meta">
                                    <span class="posted_in">
                                        Thể loại:
                                        @foreach (Model.EF.Category cate in Model.Categories)
                                        {
                                            <a href="#">@cate.CategoryName</a>
                                        }
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product__info__detailed">
                    <div class="pro_details_nav nav justify-content-start" role="tablist">
                        <a class="nav-item nav-link active" data-toggle="tab" href="#nav-details" role="tab">Details</a>
                    </div>
                    <div class="tab__container">
                        <!-- Start Single Tab Content -->
                        <div class="pro__tab_label tab-pane fade show active" id="nav-details" role="tabpanel">
                            <div class="description__attribute">
                                <p>@Model.BookDescription</p>
                                <h4>Thông tin Sách</h4>
                                <ul>
                                    <li>• Loại bìa: @Model.BookCover.</li>
                                    <li>• Số trang: @Model.Pages trang. </li>
                                    <li>• Nhà Xuất bản: @Model.Publisher.</li>
                                    <li>• Năm xuất bản: @Model.PublicByDate.</li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Single Tab Content -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-12 md-mt-40 sm-mt-40">
                <div class="shop__sidebar">
                    @{
                        Html.RenderAction("CategorySideBar", "Category");
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var book = {
            init: function () {
                book.regEvents();
            },
            regEvents: function () {
                $('#btnAddItem').off('click').on('click', function (e) {
                    e.preventDefault();
                    $.ajax({
                        data: { bookID: '@Model.BookID', quantity: $('#qty').val() },
                        url: '/Cart/AddItem',
                        dataType: 'json',
                        type: 'POST',
                        success: function (res) {
                            if (res.status == true) {
                                let c = document.querySelectorAll('.cart-float-count')
                                c.forEach(item => item.innerHTML = res.count)
                                console.log(res.count)
                            }
                        }
                    })
                });
            }
        }
        book.init();
    </script>
}
