@model Model.EF.Author

@{
    ViewBag.Title = "Thông tin tác giả";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

    <h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa thông tin", "Edit", new { id = Model.AuthorID }) |
    @Html.ActionLink("Trở về", "Index")
</p>
