@model IEnumerable<Model.EF.Order>

@{ ViewBag.Title = "Index";
                Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
                var grid = new WebGrid(source: Model, rowsPerPage: 5);
    @Scripts.Render("~/Scripts/jquery-1.6.2.min.js") }

<h2 style="text-align:center">QUẢN LÍ ĐƠN HÀNG</h2>

<hr />

@using (Html.BeginForm("Index", "Orders", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <table class="table1" align="center">
        <tr>
            <td>
                <div>Mã đơn hàng</div>
            </td>
            <td>
                <input style="margin-bottom:5px; margin-left:5px" type="text" name="ma"
                    class="form-control" id="inputEmail3" placeholder="TimKiem" value="@ViewBag.ma">
            </td>
        </tr>
        <tr>
            <td>Thời Gian</td>
            <td>
                <input type="date" name="dateStart" value="@ViewBag.dateStart" />
                    Đến <input type="date" name="dateEnd" value="@ViewBag.dateEnd" />
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="submit" class="btn btn-success" style="width:100px; margin-left:5px">Tìm kiếm</button>
                <button type="button" class="btn btn-danger" style="width:100px;"
                        onclick="location.href='@Url.Action("Index", "Orders/Index")'">
                    Nhập mới
                </button>
            </td>
        </tr>
    </table>
}

<hr />

<div id="gridContent">
    @ViewBag.TB
    @grid.GetHtml(
    tableStyle: "table table-sm table-bordered table-hover table-striped",
    headerStyle: "thead-dark",
    footerStyle: "grid-footer",
    fillEmptyRows: true,
    mode: WebGridPagerModes.Numeric,
    alternatingRowStyle: "alternatingRowStyle",
    columns: new[]
    {
        grid.Column("STT",format: item => item.WebGrid.Rows.IndexOf(item) + 1 + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage) * grid.RowsPerPage * grid.PageIndex),
        grid.Column("OrderID","Mã Đơn Hàng"),
        grid.Column("CustomerID","Mã Khách Hàng"),
        grid.Column("Address","Địa Chỉ"),
        grid.Column("Payment.PaymentName","Loại Thanh Toán "),
        grid.Column("Customer.CustomerAddress","Địa Chỉ Giao Hàng"),
        grid.Column("OrderByDate","Ngày đặt hàng",format:@<text> @item.OrderByDate.ToString("dd/MM/yyyy")</text>),
        grid.Column("Notes","Ghi Chú"),
        grid.Column("Total","Tổng tiền"),
        grid.Column("Chức năng", format: @<text>
            <a href="@Url.Action("Details",
                new { id = item.OrderID})" class="edit-btn"><abbr title="Xem chi tiết"><img src="/images/details.png" width="20" height="20" /></abbr></a>
            <a href="@Url.Action("Delete",
                new { id = item.OrderID})" class="edit-btn"><abbr title="Xóa dữ liệu"><img src="/images/delete.png" width="20" height="20" /></abbr></a>
            </text>),
    })
</div>