@model  BookStoreOnline.Areas.Admin.Models.LoginModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SB Admin 2 - Bootstrap Admin Theme</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        body {
            padding: 50px;
            background-image: url("../../../../images/bg/admin_bg.jpg");
            background-position: center center;
        }
        fieldset {
            border: 3px solid #c0c0c0 !important;
            padding: 10px 30px;
        }
        label {
            font-size: 1.2rem;
        }

        input {
            background-color: rgba(255,255,255, 0.5) !important;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title text-center">ĐĂNG NHẬP</h2>
                    </div>
                    <div class="panel-body">
                        @using (Html.BeginForm("Login", "Login", new { returnUrl = ViewBag.returnUrl }, FormMethod.Post))
                        {
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" });
                            <fieldset>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Username)
                                    @Html.TextBoxFor(model => model.Username, new { @class = "form-control", @autofocus = "autofocus" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Password)
                                    @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <button type="submit" class="btn btn-lg btn-success btn-block">Đăng nhập</button>
                            </fieldset>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>