<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="#">
                Start Bootstrap
            </a>
        </li>
        <li>
            <a href="">Dashboard</a>
        </li>
        <li>
            @Html.ActionLink("Sách", "Index", "Books")
        </li>
        <li>
            @Html.ActionLink("Thể loại", "Index", "Categories")
        </li>
        <li>
            @Html.ActionLink("Tác giả", "Index", "Authors")
        </li>
        <li>
            @Html.ActionLink("Nhà cung cấp", "Index", "Producers")
        </li>
        <li>
            @Html.ActionLink("Đơn hàng", "Index", "Orders")
        </li>
        <li>
            @Html.ActionLink("Khách hàng", "Index", "Customers")
        </li>
        <li>
            @Html.ActionLink("Đánh giá", "Index", "Reviews")
        </li>
        <li>
            @Html.ActionLink("Tài khoản", "Index", "Users")
        </li>
    </ul>
</div>